<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:teste.db</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		<!-- <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property> -->

		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.current_session_context_class">
			org.hibernate.context.internal.ThreadLocalSessionContext
		</property>


		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="br.com.houseController.model.usuario.Usuario" />
		<mapping class="br.com.houseController.model.categoria.Categoria" />
		<mapping class="br.com.houseController.model.Abstracts.AbstractDespesa" />
		<mapping class="br.com.houseController.model.receita.Receita" />
		<mapping class="br.com.houseController.model.despesas.Despesa" />
		<mapping class="br.com.houseController.model.despesas.RelacaoDespesaReceita" />
		<mapping class="br.com.houseController.model.despesas.DespesaVariavel" />
		<mapping class="br.com.houseController.model.despesas.DespesaFixa" />
		<mapping class="br.com.houseController.model.produto.Produto" />
		<mapping class="br.com.houseController.model.produto.Ingrediente" />
		<mapping class="br.com.houseController.model.produto.UnidadeMedida" />
		<mapping class="br.com.houseController.model.despesas.Compras" />
		<mapping class="br.com.houseController.model.meta.Meta" />
	</session-factory>
</hibernate-configuration>